          :root {
                --900: #101211;
                --100: white;
                --accent-light: #fff0d1;
                --400: #dbdbdb;
                --700: #202221;
                --600: #2e3130;
                --300: #ebebeb;
                --800: #171918;
                --accent: #ffc44d;
                --200: #f7f7f7;
                --accent-medium: #ffda8f;
            }

            body {
                color: var(--100);
                font-family: Switzer, sans-serif;
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.5;
                background: var(--900);
                margin: 0;
            }

            .nav {
                background-color: var(--900);
                backdrop-filter: blur(0.375rem);
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 4.5rem;
                padding: 0 2rem;
                position: sticky;
                top: 0;
                z-index: 2;
            }

            .logo img {
                height: 24px;
            }

            .nav-menu {
                display: flex;
                gap: 1.5rem;
            }

            .nav-link {
                color: var(--100);
                text-decoration: none;
            }

            .actions-wrapper {
                display: flex;
                gap: 1rem;
            }

            .button,
            .button-secondary {
                padding: 0.5rem 1rem;
                border: none;
                cursor: pointer;
                text-decoration: none;
                color: var(--900);
                background-color: var(--accent);
                border-radius: 5px;
            }

            .button-secondary {
                background-color: var(--700);
                color: var(--100);
            }

            .nav-menu-button {
                display: none;
            }

            @media (max-width: 768px) {
                .nav-menu {
                    display: none;
                }
                .nav-menu-button {
                    display: block;
                    cursor: pointer;
                }
            }
        